<h2 class="m-0">Cat&aacute;logo de productos</h2>
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo producto" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNewProduct()" />
        <p-button severity="secondary" label="Eliminar seleccionados" icon="pi pi-trash" outlined  />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary"  />
    </ng-template>
</p-toolbar>
<p-table
            #dt
            
            [rows]="10"
            [value]="productList"
            [paginator]="true"
            [globalFilterFields]="['prod_descripcion', 'categoria']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            dataKey="prod_id"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} productos"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
        >
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Lista de productos</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text"  placeholder="Search..." />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th pSortableColumn="prod_descripcion" style="min-width: 16rem">Nombre 
                        <p-sortIcon field="prod_descripcion" /></th>
                    <th pSortableColumn="prod_ult_precio" style="min-width: 8rem">
                        Precio
                        <p-sortIcon field="prod_ult_precio" />
                    </th>
                    <th pSortableColumn="estado" style="min-width: 8rem">
                        Estado
                        <p-sortIcon field="estado" />
                    </th>
                    <th pSortableColumn="categoria" style="min-width:10rem">
                        Categoría
                        <p-sortIcon field="categoria" />
                    </th>
                    <th style="min-width: 12rem"></th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td style="width: 3rem">
                        <p-tableCheckbox [value]="product" />
                    </td>
                    <td >{{ product.prod_descripcion }}</td>
                    <td>{{ product.prod_ult_precio | currency : 'USD' }}</td>
                    <td>{{ product.estado }}</td>
                    <td>{{ product.categoria }}</td>
                    <td>
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"  />
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-dialog [(visible)]="showProductDialog" [style]="{ width: '450px', height: '520px' }" header="Nuevo producto"
            [modal]="true">
            <div class="flex flex-col gap-6">
                <div>
                    <label for="description" class="block font-bold mb-3">Description</label>
                    <input pInputText id="description" pTextarea required rows="3" cols="20" fluid/>
                </div>
            </div>
            <label for="description" class="block font-bold mb-3">Precio</label>
            <p-inputgroup>
                <p-inputgroup-addon>$</p-inputgroup-addon>
                <p-inputnumber placeholder="Ingrese el precio" />
                <p-inputgroup-addon>.00</p-inputgroup-addon>
            </p-inputgroup>
            <label for="productCategoryList" class="block font-bold mb-3">Categor&iacute;a</label>
            <p-select [(ngModel)]="selectedCategory" [scrollHeight]="'7rem'" [options]="productCategoryList" placeholder="Seleccione una categoria"
                optionLabel="label" optionValue="label" fluid />
            <label class="block font-bold mb-3">Marcas</label>
            <p-select [(ngModel)]="selectedBrand" [scrollHeight]="'8rem'" [options]="brandList" placeholder="Seleccione una marca"
                optionLabel="label" optionValue="value" fluid />
            <ng-template #footer>
                <p-button label="Cancelar" severity="secondary" icon="pi pi-times" />
                <p-button label="Guardar" icon="pi pi-check" />
            </ng-template>
        </p-dialog>